/* TO-DO */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;

    background-color: hsl(207, 91%, 13%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.search-engine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-engine input {
    width: 1px;
    border-radius: 100px;
}